<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>GenAppService</display-name>
	<servlet>
		<description>RESTful JSON service for the GenApp application</description>
		<servlet-name>GenAppService</servlet-name>
		<servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.ibm.cics.genapp.services.ServiceConfig</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenAppService</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
</web-app>